[Unit]
Description=Giftmint Server
After=network.target

[Service]
Type=simple
User=nodejs
WorkingDirectory=/opt/giftmint-server
ExecStart=/usr/bin/node /opt/giftmint-server/server.js
Environment=PORT=3500
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=giftmint
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target